<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/foodfy.css">
    </head>
    <body>
        <header class="foddfy">
            <div class="countainer">
                <a href="/">
                    <img src="/logo.png" alt="">
                </a>
            </div>
            <div class="links">
                <a class="link" href="/sobre">Sobre</a>
                <a class="link" href="/receitas">Receitas</a>
                <a class="link" href="/chefs">Chefs</a>
            </div>
        </header>
        {% block main %}{% endblock main %}
        <footer>
            <div>
                <h1>Todos direitos reservados, receitas Foodfy</h1>
            </div>
        </footer>
        <script src="/scripts.js">
        </script>
        <script>
            const linksFoodfy = document.querySelectorAll("header .links a")
            Utils.activeLinks(linksFoodfy)
        </script>
        {% block scripts %}{% endblock scripts %}
    </body>

</html>