{% extends "admin/layout.njk" %}

{% block main %}
<div class="chef-create">
    <form method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{chef.id}}">  
        <section class="head">
            <h3>Editando chef</h3>
            <button type="submit" onclick="Validate.checkFieldsChef(event)">Salvar chef</button>
        </section>
        {% include "admin/chef/fields.njk" %}  
    </form>
    <form class="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{chef.id}}">
        <button type="submit">Deletar</button>
    </form>
</div>
    <script>
        const formDelete = document.querySelector(".form-delete")
        formDelete.addEventListener("submit", function(event){
            const confirmation = confirm("Deseja mesmo deletar ?")
            if(!confirmation){
                event.preventDefault()
            }
        })
    </script>
{% endblock main %}