{% extends "admin/layout.njk" %}

{% block main %}
    <main class="show">
        <div class="top">
            <h2>Receita: {{recipe.name}}</h2>
            {% if permission %}
                <a class="button" href="http://localhost:3000/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
            {% endif %}
        </div>

        <div class="recipe">
            <div class="head">
                <div class="photos">
                    <div class="img" style="background-image: url({{recipe.files[0].src}})"></div>
                    <div class="galery">
                        {%for file in recipe.files%}
                            <div class="photo" style="background-image: url({{file.src}})" id="{{file.id}}" src="{{file.src}}" name="{{file.name}}">
                            </div>
                        {%endfor%}
                    </div>                    
                </div>
                <h1>{{recipe.name}}</h1>
                <h2>{{recipe.author}}</h2>
            </div>

            <div class="receita-text">
                <div class="setup">
                    <a>Ingredientes</a>
                </div>

                <div class="text">
                    <ul>
                        {% for linha in recipe.ingredients %}
                            <li>{{linha}}</li>
                        {% endfor%}
                    </ul>
                </div>
            </div>

            <div class="receita-text">
                <div class="setup">
                    <a>Modo de preparo</a>
                </div>

                <div class="text">
                    <ul>
                        {% for linha in recipe.preparation %}
                            <li>{{linha}}</li>
                        {% endfor%}
                    </ul>
                </div>
            </div>

            <div class="receita-text">
                <div class="setup">
                    <a>Informações adicionais</a>
                </div>

                <div class="text">
                    <p>{{recipe.information}}</p>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}

{% block scripts %}
    <script>
        PhotosGalery.Photos()
    </script>
{% endblock %}